[Desktop Entry]
Type=Application
Name=Waylonia
Comment=Run a Wayland application inside a window on the host desktop
Exec=waylonia
Terminal=false
Categories=Utility;
